/* @media print {
  @page {
    size: landscape !important;
  }
} */

@media print {
  @page {
    size: landscape !important;
    margin: 0 !important;
  }
}

table {
  border: none;
  border-collapse: collapse;
}
table td {
  border-left: 1px solid #dddddd;
}

.table-print {
  border: 1px solid #ddd;
  border-spacing: 1px;
}
